[Desktop Entry]
Name=Breeze Warm

X-KDE-PluginInfo-Author=kmolski
X-KDE-PluginInfo-Name=breeze-warm
X-KDE-PluginInfo-Version=5.104.0
X-KDE-PluginInfo-License=LGPL
X-Plasma-API=5.0
